body{
    font-family: 'Share Tech', sans-serif;
    background: rgb(8,235,160);
    background: linear-gradient(90deg, rgba(8,235,160,1) 0%, rgba(6,173,149,1) 46%, rgba(0,212,255,1) 100%);
}

#avatar{
    border-radius: 60%;
    border: solid ;
}

#avatartext{
    font-weight: bold;
}

/* for the about sections*/
#about-section{
    font-size: 20px;
    font-weight: bold;
    border-style: solid;
    border-image: linear-gradient(#fbff00, #ef9cff) 30;
    border-width: 3px;
}